$color-background: #000;
$color-text: #fff;
$color-canvas-border: #fff;
$color-game-axes: #60DEA4;
$color-game-x: #E6F603;
$color-game-o: #C422D7;
$color-action-button: $color-game-axes;
$color-start-screen-header: $color-game-axes;
$color-start-screen-button: $color-game-o;
$color-next-level-header: $color-game-x;
$color-next-level-button: $color-game-o;