@import 'colors';

@mixin energy_changer() {
    #energy-change {
        --progress: 0%;
        width: 100%;
        height: 50px;

        border: 1px solid #fff;
        padding: 12px 10px;
        box-shadow: 0 0 10px $color-energy;

        .bar {
            width: var(--progress);
            height: 100%;
            background: linear-gradient($color-energy, lighten($color-energy, 10%), $color-energy);
            background-repeat: repeat;
            border-radius: 5000px;
            box-shadow: 0 0 10px 0px $color-energy;
            transition: width 1s ease 1s;
        }

        @property --progress {
            syntax: "<length>";
            initial-value: 0%;
            inherits: true;
        }
    }

    .energy-counter {
        color: #fff;
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        vertical-align: middle;

        .new-energy {
            color: $color-energy;
            font-size: 24px;
            text-shadow: 1px 1px 10px $color-energy, 1px 1px 10px $color-energy;
        }
    }
}