@import 'colors';
@import 'button';
$spinner-border: 1.5px;

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: $color-background;
    color: $color-text;
    font-family: 'Orbitron', 'Roboto', sans-serif;
}

button {
    display: block;
}

#game {
    height: 100%;
}

.gameplay-area {
    display: flex;
    height: 100%;

    #canvas-container {
        width: 80vw;

        * {
            width: 100% !important;
        }
    }
}

#loading {
    opacity: 0;
    background: black;
    width: 40vh;
    height: 40vh;
    position: absolute;
    top: calc(50% - 20vh);
    left: calc(50% - 20vh);
    border-radius: 50%;
    font-size: 24px;

    &.loading {
        transition: opacity 500ms;
        opacity: 1;
    }

    .loading-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .loading-spinner {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: $spinner-border dashed $color-game-o;
        animation: spinner 5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
}

@keyframes spinner {

    0% {
        transform: rotate(360deg);
        color: $color-game-x;
        border: $spinner-border dashed $color-game-x;
        box-shadow: 0px 0px 10px $color-game-x, 0px 0px 40px$color-game-x, 0px 0px 80px $color-game-x;
        transition-delay: 0.2s;
    }

    50% {
        color: $color-game-o;
        box-shadow: 0px 0px 10px $color-game-o, 0px 0px 40px$color-game-o, 0px 0px 80px $color-game-o;
        transition-delay: 1s;
    }

    100% {
        color: $color-game-x;
        transform: rotate(0deg);
        border: $spinner-border dashed $color-game-x;
        box-shadow: 0px 0px 10px $color-game-x, 0px 0px 40px$color-game-x, 0px 0px 80px $color-game-x;
        transition-delay: 0.2s;
    }
}