@import 'colors';
@import 'button';

#menu {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: $color-background;
    display: none;


    &.visible {
        display: flex;

    }

    .button-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 30vh;
        margin-left: auto;
        margin-right: auto;

        button {
            @include button($color: lighten($color-menu, 20));
            margin-bottom: 80px;
            width: 100%;

            &::before {
                opacity: 0.4;
            }
        }
    }
}