@import 'colors';
@import 'button';

#menu {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: $color-background;
    display: none;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    justify-content: flex-start;
    align-items: center;


    &.visible {
        display: flex;

    }

    .button-container {
        margin-top: 30vh;

        button {
            @include button($color: $color-energy);
            margin-bottom: 80px;

            &::before {
                opacity: 0.4;
            }
        }
    }
}